.main{
    position: relative;
    left: 40%;
    top: 200px;
}


#text{

    transition: all 1s ;
    -moz-transition:  all 1s ;	/* Firefox 4 */
    -webkit-transition:  all 1s ;	/* Safari 和 Chrome */
    -o-transition:  all 1s ;	/* Opera */
    color: black;

}


#text.trans{
    color: dodgerblue;
    text-decoration: underline dodgerblue;
    top: 1000px;

}



#text:hover{
    color: dodgerblue;
    text-decoration: underline dodgerblue;

}