.layout{

    width:100px;
    height:100px;
    line-height: 100px;
    text-align: center;


    display: table-cell;
}

.box{
    width:100px;
    height:100px;
    border: 1px solid black;
}

.table {

    margin-top: 100px;
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

#box1{

    transform:skewX(30deg)
}

#box2{

    transform:scale(0.5,1);
}

#box3{

    transform: rotate(30deg);
}

#box4{
    transform:translate(0px,100px);
}

#box5{
    transform:matrix(1,0.6,0,1,0,100);


}